*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #27170e;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/*Estilo do Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 100%;
    height: 188px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    border-radius: 25px;
    background-color: #f3dfa0;
    
}

header nav ul li a {
    font-size: 20px;
    color: #000000;
    background-color: #f3dfa0;
}

/*Estilo do main */

main h1 {
    margin-left: 20px;
    text-decoration: underline;
    font-size: 28px;
    color: #f3dfa0;
}

main p {
    margin-left: 20px;
    color: white;
}

.tabelas {
    margin-left: 20px;
    width: 690px;
    color: white;
}


table img {
    width: 200px;
    height: 176px;
}

/*estilo do div.container*/

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}




/*formulario*/

.formulario {
    margin-right: 80px;
    color: #f3dfa0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid #f3dfa0;
    width: 432px;
    height: 500px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input {
    width: 250px;
    height: 30px;
    background-color: #f3dfa0;
}


#Cadastrar {
    background-color: #f3dfa0;
    color: black;
}

button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: 24px;
    border: 2px solid #f3dfa0;
}

/*estilo do footer*/


footer {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 90px;
    background-color: #f3dfa0;
}

.navegacao  {
    display: flex;
    align-items: center;
    margin-left: 23px;
    width: 100%;
    background-color: #f3dfa0;
}

footer .navegacao .footer-menu, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #f3dfa0;
    
}

footer .navegacao ul li a {
    font-size: 20px;
    color: #000000;
    background-color: #f3dfa0;
}

.termos {
    margin-right: 23px;
    display: flex;
    justify-content: end;
}


@media (max-width:1300px)  {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #27170e;
        list-style-type: none;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        
    }
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    main h1 {
        margin-left: 0px;
    }
    main p {
        margin-left: 0px;
        color: white;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;  
        margin-left: 0px;     
    }
    
    header nav ul {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    header nav ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 50px;
        background-color: #f3dfa0;
        
    }
    
    .container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-left:0px ;
        margin-right: 0px;
        padding: 5px;
    }
    .tabelas {
        margin-left: 0px;
    }
    table {
        width: 414px;
      }
      .img-cardapio {
        width: 100%;
        height: auto;
      }
    
      .tabelas {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      form {
        gap: 0px;
      }
      .formulario {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 400px;
        margin-left: 0px;
        margin-right: 0px;
      }

      footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      footer .navegacao ul li a {
        font-size: 15px;
        color: #000000;
        background-color: #f3dfa0;
    }

    .navegacao  {
        margin-left: 0px;
        width: 80%;
        background-color: #f3dfa0;
    }

      

}